<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Blank Pen (External JS/CSS)</title>
  
  
  <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <body layout="column" ng-app="myApp" ng-controller="c" ng-cloak layout-padding>
  <h1>Twitch API request generator</h1>
  <md-input-container>
    <label>OAuth token</label>
    <input ng-model="token">
  </md-input-container>
  <span ng-if="scopes">It has the following scopes: {{scopes}}
  </span>
  <div layout="row" layout-align="start center">
    <md-input-container flex="none">
      <md-select ng-model="api_version">
        <md-option ng-value="'3'" selected>API version 3</md-option>
        <md-option ng-value="'5'">API version 5</md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="none">
      <md-select ng-model="method">
        <md-option ng-value="'GET'" selected>GET</md-option>
        <md-option ng-value="'POST'">POST</md-option>
        <md-option ng-value="'PUT'">PUT</md-option>
        <md-option ng-value="'DELETE'">DELETE</md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex="100">
      <label>URL</label>
      <input ng-model="url">
    </md-input-container>
    <md-button class="md-raised md-primary" ng-click="makeRequest()">Send</md-button>
  </div>
  <div ng-if="api_response_status">Status: {{api_response_status}}</div>
  <textarea ng-if="api_response_body">{{api_response_body}}</textarea>
</body>
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
